*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section:hover {
 
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.main-title{
    font-size: 60px;  
}
.spoiler-item {
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
}
.item-title {
    display: flex;
    cursor: pointer;
    font-size: 35px;
    color: rgb(3, 117, 224);
}
.spoiler-input {
    appearance: none;
}

.spoiler-input:checked + .item-img{
    display: block;
    width: 600px;
}


.item-img{
    display: none;
    margin: auto;
    padding: 15px 0;
}

