*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(253, 238, 219);
}
 .section {
    
}
.container {
    max-width: 60rem;
    margin: auto;
    padding: 0 15px;
    font-size: 1.5rem;
}
.main-title {
    border-bottom: 1px solid gray;
    
}
.spoiler-item {
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
}
.spoiler-input {
    appearance: none;
}
.meme-label {
    cursor: pointer;
    color: rgb(3, 117, 224);
    transition: .3s;
}
.meme-label:hover{
    color: black;
}
.about-meme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meme-title {
    cursor: pointer;
    /* color: rgb(3, 117, 224); */
    transition: .5s;
}
.plus{
    width: 1rem;
    height: 1rem;
    background: url(../img/plus-solid.svg);
    background-repeat: no-repeat;
    transition: .6s;
}
.meme-img {
    display: block;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    padding: 15px 0;
    margin: auto;
    transition: 0.5s;

}
.spoiler-input:checked + .meme-label > .meme-img {
    max-height: 30rem;
    max-width: 30rem;
    opacity: 1;
}
.spoiler-input:checked + .meme-label .about-meme .plus{
    transform: rotate(45deg);
}
.spoiler-input:checked + .meme-title{
    color: black;
}


@media(max-width:820px){
    .container{
        font-size: 1.1rem;
    }
    .plus{
        height: 0.9rem;
        width: 0.9rem;
    }
    .spoiler-input:checked + .meme-label > .meme-img {
        max-height: 20rem;
        max-width: 20rem;
    }
}

@media(max-width:520px){
    .container{
        font-size: 0.8rem;
    }
    .plus{
        height: 0.6rem;
        width: 0.6rem;
    }
    .spoiler-input:checked + .meme-label > .meme-img {
        max-height: 15rem;
        max-width: 15rem;
    }
}
